<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target=blank>change</a><br /><br />
  <%= link_to "delete account", @user, :method => :delete, :confirm => "You sure?", :title => "Delete #{@user.name}" %>

</div>